:plain
    <!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">

        <title>JUDCon 2012 | JBoss Forge: Productivity, Reliability, and Testability</title>

        <meta name="description" content="JBoss Forge: Productivity, Reliability, and Testability in an Enterprise Environment"> 
        <meta name="author" content="Lincoln Baxter, III">

        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="stylesheets/reset.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" href="lib/google-code-prettify/prettify.css">
        <link rel="stylesheet" href="stylesheets/print.css" media="print">
        <link rel="stylesheet" href="stylesheets/conf.css">
    </head>

    <body>

    <div class="reveal">

    <!-- Used to fade in a background when a specific slide state is reached -->
    <div class="state-background"></div>

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
~ content
:plain
    </div>

    <!-- The navigational controls UI -->
    <aside class="controls">
        <a class="left" href="#">&#x25C4;</a>
        <a class="right" href="#">&#x25BA;</a>
        <a class="up" href="#">&#x25B2;</a>
        <a class="down" href="#">&#x25BC;</a>
    </aside>

    <!-- Displays presentation progress, max value changes via JS to reflect # of slides -->
    <div class="progress"><span></span></div>

    </div>

    <script src="lib/jquery-1.7.2.min.js"></script>
    <!-- Optional libraries for code syntax highlighting and classList support in IE9 -->
    <script src="lib/google-code-prettify/prettify.js"></script>
    <script src="lib/classList.js"></script>

    <script src="js/reveal.js"></script>

    <script src="js/code_highlight.js"></script>

    <script>
        // Parse the query string into a key/value object
        var query = {};
        location.search.replace(/[A-Z0-9]+?=(\w*)/gi, function (a) {
            query[ a.split('=').shift() ] = a.split('=').pop();
        });

        // Fires when a slide with data-state=customevent is activated
        Reveal.addEventListener('customevent', function () {
            alert('"customevent" has fired');
        });

        // Fires each time a new slide is activated
        Reveal.addEventListener('slidechanged', function (event) {
            // event.previousSlide, event.currentSlide, event.indexh, event.indexv
        });

        Reveal.initialize({
            // Display controls in the bottom right corner
            controls:true,

            // Display a presentation progress bar
            progress:true,

            // If true; each slide will be pushed to the browser history
            history:true,

            // Loops the presentation, defaults to false
            loop:false,

            // Flags if mouse wheel navigation should be enabled
            mouseWheel:false,

            // Apply a 3D roll to links on hover
            rollingLinks:false,

            // UI style
            theme:query.theme || 'default', // default/neon

            // Transition style
            transition:'linear' // || query.transition || 'default' // default/cube/page/concave/linear(2d)
        });

        CodeHighlight.initialize({reveal: Reveal});

        prettyPrint();

    </script>
    </body>
    </html>
