---
layout: reveal
---

%section
  %section
    %img.splash.screen{:src => "assets/images/logos/summit_2013_logo.png", :style=>"width:100%; height:100%; position: absolute; top: 0px; left: 0px; margin: 0px;"}
    %img.splash.print{:src => "assets/images/logos/summit_2013_logo.png"}
  %section
    %img.splash.screen{:src => "assets/images/logos/summit_2013_intro.png", :style=>"width:100%; height:100%; position: absolute; top: 0px; left: 0px; margin: 0px;"}
    %img.splash.print{:src => "assets/images/logos/summit_2013_intro.png"}
  %section
    %h2.fragment
      %a{:href=>"http://twitter.com/lincolnthree"} @csadilek
    %ul.fragment
      %li The smart one
    %h2.fragment.md100
      %a{:href=>"http://twitter.com/lincolnthree"} @lincolnthree
    %ul.fragment.md100
      %li The tall one

%section
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/logos/errai_logo.png"}
    %img.fragment{:src => "assets/images/JBoss_Community_logo.png"}
  %section
    %h2 Our tasks for the day
    %ol
      %li.fragment Why your job is hard.
      %li.fragment How Errai helps.
      %li.fragment Errai core concepts.
      %li.fragment Go mobile today.
      %li.fragment.md50 Summary.
      %li.fragment.md50 Questions.

%section
  %section
    %h2.md200 1. Why Your Job is Hard
    %p.md200.mr100.fragment we feel you..
  %section
    %h2 Large development teams make things hard
    %ul
      %li.fragment Who is working on what?
      %li.fragment Skill-segregation causes duplicate work.
      %li.fragment Code rots over time (other people mess it up.)
  %section
    %h2 Large or complex code bases make things hard
    %ul
      %li.fragment Where is code actually used?
      %li.fragment What can safely be changed?
      %li.fragment Code rots over time (it just goes bad.)
  %section
    %h2 Large customers make things hard
    %ul
      %li.fragment Requests big changes frequently
      %li.fragment Want mobile NOW.
      %li.fragment Want super-high performance NOW.

%section
  %section
    %h2.md200 2. How Errai Helps
  %section
    %h2 Use the best tools and standards
    %ul
      %li.fragment HTML5 and CSS for layout
      %li.fragment Java for enterprise development
      %li.fragment JavaScript for the nitty-gritty
  %section
    %h2 Share code more effectively
    %ul
      %li.fragment Share data model and validation logic
      %li.fragment Don't repeat yourself
  %section
    %h2 Bust that boilerplate!!!
    %ul
      %li.fragment Declarative, simple code
      %li.fragment A little goes a long way
  %section
    %h2 Seriously, It's real JAVA!
    %ul
      %li.fragment Type-safe language
      %li.fragment Refactoring
      %li.fragment Code analysis
      %li.fragment Extremely Testable
      %li.fragment More people with the right skills

%section
  %section
    %h2 3. Errai Core Concepts
    %ul
      %li.fragment HTML5 Templating
      %li.fragment Navigation and Bookmarking
      %li.fragment Data Binding
      %li.fragment Type-safe RPC and REST
      %li.fragment Dependency Injection
      %li.fragment Data-sync / offline mode
  %section
    %h2 UI Templating
    %ul
      %li.fragment Use HTML5 / CSS templates directly from the designer or brand team.
  %section
    %h2 Two-Way Data Binding
    %ul
      %li.fragment Remove boilerplate code and bring forms to live with a few annotations.
  %section
    %h2 Type-safe RPC and REST
    %ul
      %li.fragment Simple and powerful to set up, leaving a foundation of confidence to refactor, test, and maintain.
  %section
    %h2 Dependency Injection
    %ul
      %li.fragment The bedrock of object oriented programming: why not use it in the browser?
      %li.fragment Use real-time client/server broadcast events and updates.
  %section
    %h2 Offline mode and data sync
    %p.fragment Stay connected, even when you can't.
    %p.fragment Bring ideas together again, satisfy rising demands for collaboration.

%section
  %section
    %h2.md200 The BIG INSPIRATIONAL DEMO!

%section
  %section
    %h2.md200 4. Go Mobile Today
  %section
    %h2 Use native android, iphone, and blackberry features.
    %ul
      %li.fragment Camera
      %li.fragment Location - GPS
      %li.fragment Orientation
      %li.fragment Accelerometer
      %li.fragment Compass

%section
  %section
    %h2.md200 5. Summary
  %section
    %h2 Our tasks for the day
    %ol
      %li.fragment Your job is hard.
      %li.fragment Errai can help.
      %li.fragment Core concepts FTW.
      %li.fragment Go mobile today.

%section
  %section
    %h2.md200 Questions
    %p.md200.mr100.fragment we know you have them...
    %p.md200.mr100.fragment we can tell...
    %p.md200.mr100.fragment there are always questions...

%section
  %h2 The end?
  %h3.fragment{:style => "margin-top: 160px"} The beginning - of your adventure with Errai!
%section
  %h2 "An incredibly comprehensive UI framework solution."
%section
  %h2 "The most maintainable client-side architecture for large projects."
%section
  %h2 "Scalable, secure, and mobile ready."
%section
  %h2 "Provies a Java skillset alternative to JavaScript."
%section
  %h2{:style=>"margin-bottom:100px;"} Additional Resources
  .left.resources
    %p Quickstarts and guides:
    %ul.links
      %li
        %a{:href => "http://erraiproject.org/get-started/"} Get started with Errai
      %li
        %a{:href => "http://erraiproject.org/docs/"} Errai Project Documentation

%section
  %h2 Stay in the loop
  %ul.links.loop
    %li
      Project website:
      %a{:href => "http://erraiproject.org/"} http://erraiproject.org
    %li
      Twitter:
      %a{:href => "https://twitter.com/search/%23JBossErrai"} https://twitter.com/search/#JBossErrai
    %li
      Errai Forums:
      %a{:href => "https://community.jboss.org/en/errai"} https://community.jboss.org/en/errai
    %li
      IRC: 
      %a{:href=>"http://webchat.freenode.net?channels=errai"} #errai
  %p{:style => "margin-top: 50px" } Get involved:
  %ul.links
    %li
      Get the source:
      %a{:href => "https://github.com/errai/errai"} https://github.com/errai/errai
    %li
      Join the discussion:
      %a{:href => "https://lists.jboss.org/mailman/listinfo/errai-dev"} https://lists.jboss.org/mailman/listinfo/errai-dev
  %img{:src=>"assets/images/logos/errai_logo.png", :width=>"300px"}
