---
layout: reveal
---

%section
  %section
    %img.splash.screen{:src => "assets/images/forge_bg.png", :style=>"width:100%; height:100%; position: absolute; top: 0px; left: 0px; margin: 0px; z-index: -1000"}
    %h2.md100 CON2675 - Take back your IDE: Tools you can share, with Forge  
    %ul.md100
      %li Lincoln Baxter, III
      %li George Gastaldi
      %li Red Hat
  %section
    %ul
      %li.fragment 
        %a{:href=>"http://twitter.com/lincolnthree"} @lincolnthree
      %li.fragment 
        %img{:src => "assets/images/profiles/lincoln_profile.jpg", :style=>"width:50%; height:50%;"}
  %section
    %ul.mr200.md100
      %li.fragment 
        %a{:href=>"http://twitter.com/gegastaldi"} @gegastaldi
      %li.fragment 
        %img{:src => "assets/images/profiles/george_gastaldi.jpg", :style=>"width:50%; height:50%;"}
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/logos/forge_logo.png"}
    %img.fragment.mr100{:src => "assets/images/JBoss_Community_logo.png"}
  %section
    %h2 Agenda
    %ol.md100
      %li.fragment A verbose explanation of <font color="red">why</font> we created a new tool
      %li.fragment <font color="red">What</font> it does
      %li.fragment <font color="red">How</font> it works
      %li.fragment Where <font color="red">YOU</font> fit in.

%section
  %section.invert{:"data-state" => "whiteout" }
    %h2 A verbose explanation of <font color="red">why</font> we created a “new” tool, which really seems a little pointless because there are already so <font color="red">many tools</font> out there, but we felt like we needed to do <font color="red">better</font>, so there you are, I guess.
  %section{:"data-state"=>"TtmLVP0HvDg"}
    %p Necessity is the mother of Innovation
    %div{:id=>"TtmLVP0HvDg"}
    %script{:type=>"text/javascript"}
      :plain
        loadPlayer("TtmLVP0HvDg");
  %section
    %h2 You need the right tool for the job.
  %section
    %h2 If the right tool doesn't exist, ask a crow to make it.
    %ul.md100
      %li.fragment (We'll show you how to do that later.)
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/logos/forge_logo.png"}
  %section.invert
    %img{:src => "assets/images/tools.jpg", :style=>"width:100%; height:100%; position: absolute; top: 0px; left: 0%; z-index: -1000"}
    %h1.md150{:style=>"background-color: #eee; opacity: .9"} Tools
  %section.invert
    %img{:src => "assets/images/ides.png", :style=>"width:100%; height:100%; position: absolute; top: 0px; left: 0%; z-index: -1000"}
  %section.invert
    %h1{:style=>"background-color: #eee; opacity: .9"} Tools
    %ul.md100.white
      %li.fragment Multiple host environments and platforms
      %li.fragment Multiple forms of interaction
  %section{:"data-state"=>"NHBF2I4WQi4"}
    %p Leap Motion
    %div{:id=>"NHBF2I4WQi4"}
    %script{:type=>"text/javascript"}
      :plain
        loadPlayer("NHBF2I4WQi4");
  %section
    %ul
      %li.fragment Graphical Interface (IDE)
      %li.fragment Command Line (Shell)
      %li.fragment Magical hand-waving (Magic)
      %li.fragment Some other sorcery?
  %section
    %h2 As <font color="red">human</font> input technology continues to <font color="red">advance</font>, and needs change, how will our tools <font color="red">bend</font>?


%section
  %section{:"data-state" => "whiteout" }
    %h1.md200{:style=>"color: #333;"} What it does
  %section
    %ul.md100
      %li.fragment Aids in <font color="red">automation</font> of common development <font color="red">tasks</font>
      %li.fragment Performs <font color="red">setup</font> of boilerplate <font color="red">code</font> and <font color="red">configuration</font>.
      %li.fragment Helps you <font color="red">focus</font> on business-centric activities.
      %li.fragment Write tools <font color="red">once</font>, run in <font color="red">any IDE</font>, and <font color="red">share</font> them.
  %section
    %ul.md100
      %li.fragment <i><font color="red">Rapid</font> - </i> application development
      %li.fragment <i><font color="red">Extensible</font> - </i> modular tooling.
      %li.fragment <i><font color="red">Abstract</font> - </i> user interface design (Shell, GUI, web, more?).
      %li.fragment <i><font color="red">Personal</font> - </i> and customizable. Your tools should do what you want.
  %section
    %h2.md200 DEMO


%section
  %section.invert
    %img{:src => "assets/images/how_it_works.png", :style=>"width:100%; height:100%; position: absolute; top: 0px; left: 0%; z-index: -1000"}
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/furnace_architecture/01.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/02.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/03.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/04.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/05.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/06.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/07.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/08.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/09.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/10.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/11.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/12.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/13.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/14.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/15.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/16.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/17.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/18.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/19.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/20.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/21.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/22.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/23.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/24.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/25.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/26.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/27.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/28.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/29.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/30.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/31.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/32.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/33.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/34.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/35.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/36.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/37.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/38.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/39.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}

%section
  %section{:"data-state" => "whiteout" }
    %h2.md200{:style=>"color: #333;"} Quickly build and share tools
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/forge_addon_community/01.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/02.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/03.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/04.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/05.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/06.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
  %section
    %h2.md200 DEMO

%section
  %section{:"data-state" => "whiteout" }
    %h2.md200{:style=>"color: #333;"} Recap
  %section
    %h3 JBoss Forge
    %ul.md100
      %li.fragment can <font color="red">automate</font> common development <font color="red">tasks</font>
      %li.fragment allows you to <font color="red">extend</font> it’s <font color="red">behavior</font>
      %li.fragment.mr50 with a <font color="red">simple</font> programming <font color="red">model</font>
      %li.fragment <font color="red">without constraining</font> you to a specific <font color="red">environment</font>

%section
  %section
    %h1.md200 A little humor
  %section
    %h3.md200 IDE's tend to suck:
  %section
    %img{:src => "assets/images/ide_errors/01.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %img{:src => "assets/images/ide_errors/02.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %img{:src => "assets/images/ide_errors/03.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %img{:src => "assets/images/ide_errors/04.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %img{:src => "assets/images/ide_errors/05.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %img{:src => "assets/images/ide_errors/06.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %img{:src => "assets/images/ide_errors/07.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section{:"data-state" => "whiteout" }
    %h2.md200{:style=>"color: #333;"} Forge fixes all that.
  %section
    %img{:src => "assets/images/ide_errors/08.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %img{:src => "assets/images/ide_errors/09.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %img{:src => "assets/images/ide_errors/10.png", :style=>"width:100%; position: absolute; top: 0px; left: 0%;"}
  %section
    %h3.md200 Build something and share it.

%section
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/logos/forge_logo.png"}
    %img.fragment.mr100{:src => "assets/images/JBoss_Community_logo.png"}
  %section
    %table{:width => "140%", :style=>"position: relative; left: -200px;"}
      %tr 
        %td.fragment
          %h4
            %a{:href=>"http://twitter.com/lincolnthree", :style=>"padding-top: 50px;"} Lincoln Baxter, III
          %ul
            %li Forge Project Lead
          %div
            %img{:src => "assets/images/profiles/lincoln_profile.jpg", :width=>"200px"}
        %td.fragment
          %h4 
            %a{:href=>"http://twitter.com/gegastaldi"} George Gastaldi
          %ul
            %li Addon Development Lead
          %div
            %img{:src => "assets/images/profiles/george_gastaldi.jpg", :width=>"150px"}
          %div.md50.fragment
            %h4
              %a{:href=>""} Stale Pedersen
            %ul
              %li Shell CLI Lead
            %div
              %img{:src => "assets/images/profiles/stale_pedersen.jpg", :width=>"150px"}
        %td.fragment
          %h4
            %a{:href=>"http://twitter.com/koentsje"} Koen Aers
          %ul
            %li Eclipse Integration Lead
          %div
            %img{:src => "assets/images/profiles/koen_aers.jpg", :width=>"150px"}
          %h1.md150
            %span.fragment YOU!


%section
  %h2 Stay in the loop
  %ul.links.loop
    %li
      Project website:
      %a{:href => "http://forge.jboss.org/"} http://forge.jboss.org
    %li
      Twitter:
      %a{:href => "https://twitter.com/JBossForge"} https://twitter.com/JBossForge
    %li
      Forge Forums:
      %a{:href => "https://community.jboss.org/en/forge"} https://community.jboss.org/en/forge
    %li
      IRC: 
      %a{:href=>"http://webchat.freenode.net?channels=forge"} #forge on irc.freenode.net
  %p{:style => "margin-top: 50px" } Get involved:
  %center
    %img{:src=>"assets/images/logos/forge_logo.png", :width=>"150px"}
  %ul.links
    %li
      Get the source:
      %a{:href => "https://github.com/forge/core"} https://github.com/forge/core
    %li
      Join the discussion:
      %a{:href => "https://lists.jboss.org/mailman/listinfo/forge-dev"} https://lists.jboss.org/mailman/listinfo/forge-dev
