---
layout: reveal
---

%section
  %section{:"data-state" => "whiteout" }
    %img.splash.screen{:src => "assets/images/logos/forge_logo.png", :width=>"80%"}
    %img.splash.print{:src => "assets/images/logos/javaone.png"}
  %section
    %h1{:style=>"color:#ffffff;"} JBoss Forge
    %h2.capitalize Productivity, Reliability, Testability
  %section
    %table{:width => "140%", :style=>"position: relative; left: -200px;"}
      %tr 
        %td
          %h4
            %a{:href=>"http://twitter.com/lincolnthree", :style=>"padding-top: 50px;"} Lincoln Baxter, III
          %ul
            %li Forge Project Lead
          %div
            %img{:src => "assets/images/profiles/lincoln_profile.jpg", :width=>"300px"}
        %td
          %h4 
            %a{:href=>"http://twitter.com/gegastaldi"} George Gastaldi
          %ul
            %li Forge Team
          %div
            %img{:src => "assets/images/profiles/george_gastaldi.jpg", :width=>"150px"}
          %h4{:style=>"margin-top: 50px;"}
            %a{:href=>""} Stale Pedersen
          %ul
            %li Forge Shell (Perf.) 
          %div
            %img{:src => "assets/images/profiles/stale_pedersen.jpg", :width=>"150px"}
        %td
          %h4
            %a{:href=>"http://twitter.com/koentsje"} Koen Aers
          %ul
            %li Forge Team (JBoss Tools)
          %div
            %img{:src => "assets/images/profiles/koen_aers.jpg", :width=>"200px"}
          %h1{:style=>"margin-top: 150px;"}
            %span.fragment YOU!

%section
  %section
    %h2{:style=>"margin-top: 200px;"} Elevator Pitch
  %section
    %div{:style=>"margin-top: 200px;"} Getting started sucks
  %section
    %div{:style=>"margin-top: 200px;"} Integrating stuff is hard
  %section
    %div{:style=>"margin-top: 200px;"} Remembering stuff is hard
  %section
    %div{:style=>"margin-top: 200px;"} Repetitive tasks are annoying and costly.
  %section{:"data-state" => "whiteout" }

%section
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/JBoss_Forge_logo.png"}
    %img.fragment{:src => "assets/images/JBoss_Community_logo.png", :style => "float:right; margin-left:300px; margin-top: 150px;", :width=>"250px"}
  %section
    %h2 Unique Selling Points
    %ol.mt100{:reversed=>"true"}
      %li.fragment Streamlined tutorials and demos.
      %li.fragment The most productive and familiar way to get your tech into the hands of developers.
      %li.fragment The easiest way to get started with new Java libraries and frameworks.
      %li.fragment Write once use everywhere.
      %li.fragment{:style=>"color: yellow"} The fastest way to get started with Java EE.

%section
  %section
    %div{:style=>"text-align: left;"}
      %span forge $ &nbsp;
      %span get-achievements --last 18 --months &nbsp;
      %span{:style=>"text-decoration:blink;"} &#9608;
    %ul.mt100
      %li.fragment * Provide Vanilla Java EE Scaffolding
      %li.fragment * Provide Database Reverse Engineering
      %li.fragment * Deliver with JBoss Developer Studio
      %li.fragment * Generate REST service endpoints
      %li.fragment * Get hosted (http://forge.jboss.org)
      %li.fragment * Integrate with JDF Stacks and BOMs
      %li.fragment * Stabilize the Runtime
      %li.fragment * Integrate with AS7
      %li.fragment * Integrate with OpenShift
      %li.fragment * Provide a configuration API
      %li.fragment * ...
  %section
    %div{:style=>"text-align: left;"}
      %span forge $ &nbsp;
      %span get-the-plan --next 18 --months &nbsp;
      %span{:style=>"text-decoration:blink;"} &#9608;
    %ul.mt100
      %li.fragment * Start up faster than AS7
      %li.fragment * More general purpose commands
      %li.fragment * Enable truly reusable addon development
      %li.fragment * Redesign the website and documentation
      %li.fragment * Come up with a cool name for addons
      %li.fragment * To be decided this week...
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/logos/forge_logo.png"}
    %h1.fragment{:style=>"color: #ccc; font-size: 800px; position: relative; left: 450px; bottom: 300px; z-index: -10;"} 2
  %section
    %h2.mt200 Truly re-usable addons
  %section
    %h2.mt200 Write once, run everywhere.
  %section
    %h2.mt200 Bring JBoss to more communities

%section
  %section
    %div{:style=>"text-align: left;"}
      %span forge $ &nbsp;
      %span get-together --next 7 --days &nbsp;
      %span{:style=>"text-decoration:blink;"} &#9608;
    %ul.mt100
      %li.fragment * What does your team need from Forge? (All)
      %li.fragment * Documentation strategy (All)
      %li.fragment * Addon version strategy (Forge Team)
      %li.fragment * Project manipulation API (Forge Team)
      %li.fragment * Legacy support (Forge Team)
      %li.fragment * Scaffolding (HTML5, Errai, RichFaces, AeroGear, Forge)

%section
  %h1 DEMO
%section
  %section
    %h2{:style=>"margin-bottom: 150px;"} We'll make PLUGINS!
    %img{:src=>"assets/images/logos/aerogear_logo.png", :width=>"140px;"}
    %img{:src=>"assets/images/logos/richfaces_logo.png", :width=>"150px;"}
    %img{:src=>"assets/images/as7_logo.png", :width=>"170px;"}
    %img{:src=>"assets/images/logos/errai_logo.png", :width=>"150px;"}
    %img{:src=>"assets/images/logos/jdf_logo.png", :width=>"150px;", :style=>"margin-left: 15px;"}
  %section{:"data-state"=>"whiteout"}
    %h2{:style=>"color:#3c3c3c;"} They'll work together!
    %img{:src=>"assets/images/plugins_facets.png"}
  %section{:"data-state"=>"whiteout"}
    %h2{:style=>"color:#333e3e;"} And then we'll eat them...
    %img{:src=>"assets/images/eating_plugins.png", :alt=>"http://www.homestarrunner.com/sbemail.html"}
  %section

%section
  %h2 The end?
%section
  %h2 "*Crickets*"
  %p -George Gastaldi
%section
  %h2 Credits
  %center
    %p
      %a{:href => "http://jboss.org/"} http://jboss.org/
    %p
      %a{:href => "http://homestarrunner.com/"} http://homestarrunner.com/
    %p
      %a{:href => "http://ocpsoft.org/"} http://ocpsoft.org/
    .links.commons
      :plain
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">JBoss Forge - Productivity, Reliability, Testability</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://ocpsoft.org/" property="cc:attributionName" rel="cc:attributionURL">Lincoln Baxter</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/lincolnthree/talks/tree/master/2012-JBW" rel="dct:source">github.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/lincolnthree/talks/tree/master/2012-JBW" rel="cc:morePermissions">https://github.com/lincolnthree/talks/tree/master/2012-JBW</a>.
%section
  %h2{:style=>"margin-bottom:100px;"} Additional Resources
  .left.resources
    %p Quickstarts and guides:
    %ul.links
      %li
        %a{:href => "http://arquillian.org/guides/get_started_faster_with_forge/"} Arquillian: Get started faster with Forge
      %li
        %a{:href => "http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/forge-from-scratch/"} JBoss Developer Framework: Forge from scratch quickstart
      %li
        %a{:href => "https://docs.jboss.org/author/display/FORGE/Reference+the+Forge+APIs"} Forge plugin-writing guide

%section
  %h2 Stay in the loop
  %ul.links.loop
    %li
      Project website:
      %a{:href => "http://jboss.org/forge"} http://jboss.org/forge
    %li
      Twitter:
      %a{:href => "https://twitter.com/JBossForge"} @JBossForge
    %li
      Forge Forums:
      %a{:href => "https://community.jboss.org/en/forge"} https://community.jboss.org/en/forge
    %li
      Vimeo feed:
      %a{:href => "https://vimeo.com/channels/jbossforge"} https://vimeo.com/channels/jbossforge
    %li
      IRC: 
      %a{:href=>"http://webchat.freenode.net?channels=forge"} #forge
  %p{:style => "margin-top: 50px" } Get involved:
  %ul.links
    %li
      Get the source:
      %a{:href => "https://github.com/forge/core"} https://github.com/forge/core
    %li
      Join the discussion:
      %a{:href => "https://lists.jboss.org/mailman/listinfo/forge-dev"} https://lists.jboss.org/mailman/listinfo/forge-dev
  %img{:src=>"assets/images/JBoss_Forge_logo.png", :width=>"300px"}
