---
layout: reveal
---

%section
  %section
    %img.splash.screen{:src => "assets/images/2014_summit_intro_slide.jpg", :style=>"width:100%; height:100%; position: absolute; top: 0px; left: 0px; margin: 0px;"}
    %img.splash.print{:src => "assets/images/2014_summit_intro_slide.jpg"}
  %section
    %ul
      %li.fragment 
        %a{:href=>"http://twitter.com/lincolnthree"} @lincolnthree
      %li.fragment 
        %img{:src => "assets/images/profiles/lincoln_profile.jpg", :style=>"width:50%; height:50%;"}
  %section
    %h2 The problem with IDEs
    %ul.md100
      %li.fragment Great for <font color="red">editing</font>, terrible for <font color="red">automating</font>.
      %li.fragment Not so great for <font color="red">extending</font> and <font color="red">sharing</font>.

%section
  %section{:"data-state" => "whiteout" }
    %h1.md200{:style=>"color: #333;"} Our Objectives
  %section
    %ol.md200
      %li.fragment <i><font color="red">Learn</font> - </i> Why Forge?
      %li.fragment <i><font color="red">Use</font> - </i> Crowdsource an application
      %li.fragment <i><font color="red">Extend</font> - </i> Quickly build and share tools
      %li.fragment <i><font color="red">Reuse</font> - </i> Embed the Future&lt;?&gt;
  %section
    %h2.md200 Why Forge?
  %section
    %ul.md200
      %li We believe that programming should be <font color="red">pragmatic</font>, <font color="red">productive</font>, and <font color="red">fun</font> ...
  %section
    %ul.md200
      %li ... and by creating a tool that encourages <font color="red">creative</font> and <font color="red">collaborative solutions</font> that are easily <font color="red">shared</font> ...
  %section
    %ul.md200
      %li ... we can build a <font color="red"><i>community-driven</i></font> ecosystem that makes us <i>all</i> <font color="red">more effective</font>. 

  %section
    %h2 Forge:
    %ul.md50
      %li.fragment Aids in <font color="red">automation</font> of common development <font color="red">tasks</font>
      %li.fragment Performs <font color="red">setup</font> of boilerplate <font color="red">code</font> and <font color="red">configuration</font>.
      %li.fragment Helps you <font color="red">focus</font> on business-centric activities.
      %li.fragment Write tools <font color="red">once</font>, run in <font color="red">any IDE</font>, and <font color="red">share</font> them.
  %section
    %h3.md200 Is not an editor.

%section{:"data-state" => "whiteout" }
  %h2.md200{:style=>"color: #333;"} Crowdsource an Application

%section
  %section{:"data-state" => "whiteout" }
    %h2.md200{:style=>"color: #333;"} How does it work?
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/furnace_architecture/01.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/02.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/03.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/04.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/05.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/06.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/07.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/08.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/09.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/10.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/11.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/12.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/13.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/14.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/15.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/16.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/17.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/18.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/19.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/20.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/21.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/22.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/23.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/24.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/25.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/26.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/27.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/28.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/29.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/30.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/31.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/32.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/33.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/34.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/35.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/36.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/37.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/38.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/39.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}

%section
  %section{:"data-state" => "whiteout" }
    %h2.md200{:style=>"color: #333;"} Quickly build and share tools
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/forge_addon_community/01.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/02.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/03.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/04.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/05.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/forge_addon_community/06.jpg", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}

%section{:"data-state" => "whiteout" }
  %h2.md200{:style=>"color: #333;"} Embed the Future&lt;?&gt;

%section
  %section{:"data-state" => "whiteout" }
    %h2.md200{:style=>"color: #333;"} Recap
  %section
    %h3 JBoss Forge
    %ul.md100
      %li.fragment can <font color="red">automate</font> common development <font color="red">tasks</font>
      %li.fragment allows you to <font color="red">extend</font> it’s <font color="red">behavior</font>
      %li.fragment.mr50 with a <font color="red">simple</font> programming <font color="red">model</font>
      %li.fragment <font color="red">without constraining</font> you to a specific <font color="red">environment</font>
  %section
    %h3.md200 Build something and share it.

%section
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/logos/forge_logo.png"}
    %img.fragment.mr100{:src => "assets/images/JBoss_Community_logo.png"}
  %section
    %table{:width => "140%", :style=>"position: relative; left: -200px;"}
      %tr 
        %td.fragment
          %h4
            %a{:href=>"http://twitter.com/lincolnthree", :style=>"padding-top: 50px;"} Lincoln Baxter, III
          %ul
            %li Forge Project Lead
          %div
            %img{:src => "assets/images/profiles/lincoln_profile.jpg", :width=>"200px"}
        %td.fragment
          %h4 
            %a{:href=>"http://twitter.com/gegastaldi"} George Gastaldi
          %ul
            %li Addon Development Lead
          %div
            %img{:src => "assets/images/profiles/george_gastaldi.jpg", :width=>"150px"}
          %div.md50.fragment
            %h4
              %a{:href=>""} Stale Pedersen
            %ul
              %li Shell CLI Lead
            %div
              %img{:src => "assets/images/profiles/stale_pedersen.jpg", :width=>"150px"}
        %td.fragment
          %h4
            %a{:href=>"http://twitter.com/koentsje"} Koen Aers
          %ul
            %li Eclipse Integration Lead
          %div
            %img{:src => "assets/images/profiles/koen_aers.jpg", :width=>"150px"}
          %h1.md150
            %span.fragment YOU!


%section
  %h2{:style=>"margin-bottom:100px;"} Additional Resources
  .left.resources
    %p Quickstarts and guides:
    %ul.links
      %li
        %a{:href => "https://github.com/forge/core#jboss-forge-20"} JBoss Forge 2.0
      %li
        %a{:href => "https://github.com/forge/docs"} Forge 2 Documentation

%section
  %h2 Stay in the loop
  %ul.links.loop
    %li
      Project website:
      %a{:href => "http://forge.jboss.org/"} http://forge.jboss.org
    %li
      Twitter:
      %a{:href => "https://twitter.com/search/%23JBossForge"} https://twitter.com/search/#JBossForge
    %li
      Forge Forums:
      %a{:href => "https://community.jboss.org/en/forge"} https://community.jboss.org/en/forge
    %li
      IRC: 
      %a{:href=>"http://webchat.freenode.net?channels=forge"} #forge on irc.freenode.net
  %p{:style => "margin-top: 50px" } Get involved:
  %center
    %img{:src=>"assets/images/logos/forge_logo.png", :width=>"150px"}
  %ul.links
    %li
      Get the source:
      %a{:href => "https://github.com/forge/core"} https://github.com/forge/core
    %li
      Join the discussion:
      %a{:href => "https://lists.jboss.org/mailman/listinfo/forge-dev"} https://lists.jboss.org/mailman/listinfo/forge-dev
