---
layout: reveal
---

%section
  %section
    %img.splash.screen{:src => "assets/images/2014_summit_intro_slide.jpg", :style=>"width:100%; height:100%; position: absolute; top: 0px; left: 0px; margin: 0px;"}
    %img.splash.print{:src => "assets/images/2014_summit_intro_slide.jpg"}
  %section
    %ul
      %li.fragment 
        %a{:href=>"http://twitter.com/lincolnthree"} @lincolnthree
      %li.fragment 
        %img{:src => "assets/images/profiles/lincoln_profile.jpg", :style=>"width:50%; height:50%;"}
%section
  %section{:"data-state" => "whiteout" }
    %h1.md200{:style=>"color: #333;"} Our Objectives
  %section
    %ol.md200
      %li.fragment <i>Learn - </i> Why Forge?
      %li.fragment <i>Use - </i> Crowdsource an application
      %li.fragment <i>Extend - </i> Quickly build and share tools
      %li.fragment <i>Reuse - </i> Embed the Future&lt;?&gt;
  %section
    %h2.md200 Why Forge?
  %section
    %ul.md200
      %li We believe that programming should be fun, productive, and personal ...
  %section
    %ul.md200
      %li ... and by creating a tool that encourage creative and collaborative solutions ...
  %section
    %ul.md200
      %li ... we can build a <i>community-driven</i> ecosystem that makes us <i>all</i> more effective. 

%section
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/logos/forge_logo.png"}
    %img.fragment.mr100{:src => "assets/images/JBoss_Community_logo.png"}
  %section
    %table{:width => "140%", :style=>"position: relative; left: -200px;"}
      %tr 
        %td.fragment
          %h4
            %a{:href=>"http://twitter.com/lincolnthree", :style=>"padding-top: 50px;"} Lincoln Baxter, III
          %ul
            %li Forge Project Lead
          %div
            %img{:src => "assets/images/profiles/lincoln_profile.jpg", :width=>"200px"}
        %td.fragment
          %h4 
            %a{:href=>"http://twitter.com/gegastaldi"} George Gastaldi
          %ul
            %li Addon Development Lead
          %div
            %img{:src => "assets/images/profiles/george_gastaldi.jpg", :width=>"150px"}
          %div.md50.fragment
            %h4
              %a{:href=>""} Stale Pedersen
            %ul
              %li Shell CLI Lead
            %div
              %img{:src => "assets/images/profiles/stale_pedersen.jpg", :width=>"150px"}
        %td.fragment
          %h4
            %a{:href=>"http://twitter.com/koentsje"} Koen Aers
          %ul
            %li Eclipse Integration Lead
          %div
            %img{:src => "assets/images/profiles/koen_aers.jpg", :width=>"150px"}
          %h1.md150
            %span.fragment YOU!

%section{:"data-state" => "whiteout" }
  %section
    %h2.md200{:style=>"color: #333;"} Crowdsource an Application

%section{:"data-state" => "whiteout" }
  %section{:"data-state" => "whiteout" }
    %h2.md200{:style=>"color: #333;"} How does it work?
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/furnace_architecture/01.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/02.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/03.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/04.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/05.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/06.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/07.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/08.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/09.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/10.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/11.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/12.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/13.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/14.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/15.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/16.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/17.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/18.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/19.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/20.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/21.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/22.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/23.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/24.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/25.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/26.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/27.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/28.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/29.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/30.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/31.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/32.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/33.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/34.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}
    %img.fragment{:src => "assets/images/furnace_architecture/35.png", :style=>"width:90%; height:100%; position: absolute; top: 0px; left: 5%;"}

%section{:"data-state" => "whiteout" }
  %section
    %h2.md200{:style=>"color: #333;"} Quickly build and share tools

%section{:"data-state" => "whiteout" }
  %section
    %h2.md200{:style=>"color: #333;"} Embed the Future&lt;?&gt;

%section
  %h2{:style=>"margin-bottom:100px;"} Additional Resources
  .left.resources
    %p Quickstarts and guides:
    %ul.links
      %li
        %a{:href => "https://github.com/forge/core#jboss-forge-20"} JBoss Forge 2.0
      %li
        %a{:href => "https://github.com/forge/docs"} Forge 2 Documentation

%section
  %h2 Stay in the loop
  %ul.links.loop
    %li
      Project website:
      %a{:href => "http://forge.jboss.org/"} http://forge.jboss.org
    %li
      Twitter:
      %a{:href => "https://twitter.com/search/%23JBossForge"} https://twitter.com/search/#JBossForge
    %li
      Forge Forums:
      %a{:href => "https://community.jboss.org/en/forge"} https://community.jboss.org/en/forge
    %li
      IRC: 
      %a{:href=>"http://webchat.freenode.net?channels=forge"} #forge on irc.freenode.net
  %p{:style => "margin-top: 50px" } Get involved:
  %center
    %img{:src=>"assets/images/logos/forge_logo.png", :width=>"150px"}
  %ul.links
    %li
      Get the source:
      %a{:href => "https://github.com/forge/core"} https://github.com/forge/core
    %li
      Join the discussion:
      %a{:href => "https://lists.jboss.org/mailman/listinfo/forge-dev"} https://lists.jboss.org/mailman/listinfo/forge-dev
