---
layout: reveal
---

%section
  %section{:"data-state" => "whiteout" }
    %img.splash.screen{:src => "assets/images/JBoss_Forge_logo.png"}
  %section
    %table{:width => "140%", :style=>"position: relative; left: -200px;"}
      %tr 
        %td
          %h4
            %a{:href=>"http://twitter.com/lincolnthree", :style=>"padding-top: 50px;"} Lincoln Baxter, III
          %ul
            %li Forge Project Lead
          %div
            %img{:src => "assets/images/profiles/lincoln_profile.jpg", :width=>"200px"}
        %td
          %h4 
            %a{:href=>"http://twitter.com/gegastaldi"} George Gastaldi
          %ul
            %li Forge Team
          %div
            %img{:src => "assets/images/profiles/george_gastaldi.jpg", :width=>"150px"}
          %div.md50
            %h4
              %a{:href=>""} Stale Pedersen
            %ul
              %li Forge Team (Perf.) 
            %div
              %img{:src => "assets/images/profiles/stale_pedersen.jpg", :width=>"150px"}
        %td
          %h4
            %a{:href=>"http://twitter.com/koentsje"} Koen Aers
          %ul
            %li Forge Team (JBDS)
          %div
            %img{:src => "assets/images/profiles/koen_aers.jpg", :width=>"150px"}
          %h1.md150
            %span.fragment YOU!

%section
  %section
    %h2.md200 Elevator Pitch
  %section{:"data-state" => "whiteout" }
    %div.black.md200 We believe...
  %section
    %div.md200 Getting started sucks.
  %section
    %div.md200 Integration is hard.
  %section
    %div.md200 We make mistakes.
  %section
    %div.md200 Life is too short.
  %section{:"data-state" => "whiteout" }
    %div.black.md200 We address this by...
  %section
    %ul.md200
      %li.fragment Making getting started easy
      %li.fragment Simplifing otherwise complex choices
      %li.fragment Ensuring predictably successful results
      %li.fragment Saving time instead of wasting time
  %section{:"data-state" => "whiteout" }
    %ul.md150.capitalize.black
      %li
        %h2{:style=>"color: #333;"} Extendable framework
      %li.fragment.mr50 &rarr; Centralized sandbox of choices
      %li.fragment.mr50 &rarr; Drop-in extensions that bring Java together
      %li.fragment.mr50 &rarr; Command-oriented interactions for humans
      %li.fragment.mr50 &rarr; Real, achievable results
      %li.fragment.mr50 &rarr; True enjoyment
  %section
    %h2.md200 Brings our communities together
    %ul{:style=>"text-align: right; position: relative; left: 100px; color: #efafaf"}
      %li.fragment Teaching
      %li.fragment Promoting
      %li.md100.fragment Automating
      %li.md100.fragment Enjoying
      %img.md100.ml300.fragment{:src => "assets/images/logos/forge_logo.png"}

%section
  %section
    %h2.md200 Unique Selling Points
  %section
    %div.md200 5. Streamlined tutorials and demos.
  %section
    %div.md200 4. The most productive and familiar way to get your tech into the hands of developers.
  %section
    %div.md200 3. The easiest way to get started with new Java libraries and frameworks.
  %section
    %div.md200 2. Write once use everywhere.
  %section
    %div.md200{:style=>"color: yellow"} 1. The fastest way to get started with Java EE.

%section
  %section
    %h2.md200 The last 18 months
  %section
    %ul.md100
      %li.fragment * Provide Vanilla Java EE Scaffolding
      %li.fragment * Provide Database Reverse Engineering
      %li.fragment * Deliver with JBoss Developer Studio
      %li.fragment * Generate REST service endpoints
      %li.fragment * Get hosted (http://forge.jboss.org)
      %li.fragment * Integrate with JDF Stacks and BOMs
      %li.fragment * Stabilize the Runtime
      %li.fragment * Integrate with AS7
      %li.fragment * Integrate with OpenShift
      %li.fragment * Provide a configuration API
      %li.fragment * ...

%section
  %section
    %h2.md200 The next 18 months
  %section
    %ul.md100
      %li.fragment * Start up faster than AS7
      %li.fragment * More general purpose commands
      %li.fragment * Enable truly reusable addon development
      %li.fragment * Redesign the website and documentation
      %li.fragment * Come up with a cool name for addons
      %li.fragment * To be decided this week...
      %li.fragment * AND!

%section
  %section{:"data-state" => "whiteout" }
    %img{:src => "assets/images/logos/forge_logo.png"}
    %h1.fragment{:style=>"color: #ccc; font-size: 800px; position: relative; left: 450px; bottom: 300px; z-index: -10;"} 2
  %section
    %h2.md200 Truly re-usable addons
  %section
    %h2.md200 Write once, run everywhere.
  %section
    %h2.md200 Bring JBoss to more communities

%section
  %section
    %h2.md200 This week
  %section
    %ul.md100
      %li.fragment * What does your team need from Forge? (All)
      %li.fragment * Documentation strategy (All)
      %li.fragment * Addon version strategy (Forge Team)
      %li.fragment * Pretend mode "Accept these changes?" (Forge & JBDS)
      %li.fragment * Project manipulation API (Forge Team)
      %li.fragment * Legacy support (Forge Team)
      %li.fragment * Scaffolding (HTML5, Errai, RichFaces, AeroGear, Forge)

%section
  %h1.md200 DEMO

%section
  %section
    %h2.mb150 We'll make PLUGINS together!
    %img{:src=>"assets/images/logos/aerogear_logo.png", :width=>"140px;"}
    %img{:src=>"assets/images/logos/richfaces_logo.png", :width=>"150px;"}
    %img{:src=>"assets/images/as7_logo.png", :width=>"170px;"}
    %img{:src=>"assets/images/logos/arquillian_logo.png", :width=>"170px;"}
    %img{:src=>"assets/images/logos/errai_logo.png", :width=>"120px;"}
    %img{:src=>"assets/images/logos/jdf_logo.png", :width=>"170px;", :style=>"margin-left: 15px;"}
  %section{:"data-state"=>"whiteout"}
    %h2{:style=>"color:#3c3c3c;"} They'll work together!
    %img{:src=>"assets/images/plugins_facets.png"}
  %section{:"data-state"=>"whiteout"}
    %h2{:style=>"color:#333e3e;"} And then we'll eat them...
    %img{:src=>"assets/images/eating_plugins.png", :alt=>"http://www.homestarrunner.com/sbemail.html"}

%section
  %h2 The end?

%section{:"data-state"=>"whiteout"}
  %h2.ml150.md200{:style=>"color: #555;"} The beginning
  %div.md200.black of your adventure with forge...

%section
  %h2 "*Crickets*"
  %p -George Gastaldi

%section
  %h2 Credits
  %center
    %p
      %a{:href => "http://jboss.org/"} http://jboss.org/
    %p
      %a{:href => "http://homestarrunner.com/"} http://homestarrunner.com/
    %p
      %a{:href => "http://ocpsoft.org/"} http://ocpsoft.org/
    .links.commons
      :plain
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">JBoss Forge - Productivity, Reliability, Testability</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://ocpsoft.org/" property="cc:attributionName" rel="cc:attributionURL">Lincoln Baxter</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/lincolnthree/talks/tree/master/2012-JBW" rel="dct:source">github.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/lincolnthree/talks/tree/master/2012-JBW" rel="cc:morePermissions">https://github.com/lincolnthree/talks/tree/master/2012-JBW</a>.

%section
  %h2 Stay in the loop
  %ul.links.loop
    %li
      Project website:
      %a{:href => "http://forge.jboss.org"} http://forge.jboss.org
    %li
      Twitter:
      %a{:href => "https://twitter.com/JBossForge"} @JBossForge
    %li
      Forge Forums:
      %a{:href => "https://community.jboss.org/en/forge"} https://community.jboss.org/en/forge
    %li
      Vimeo feed:
      %a{:href => "https://vimeo.com/channels/jbossforge"} https://vimeo.com/channels/jbossforge
    %li
      IRC: 
      %a{:href=>"http://webchat.freenode.net?channels=forge"} #forge
  %div.md50
    %p Get involved:
    %ul.links
      %li
        Get the source:
        %a{:href => "https://github.com/forge/core"} https://github.com/forge/core
      %li
        Join the discussion:
        %a{:href => "https://lists.jboss.org/mailman/listinfo/forge-dev"} https://lists.jboss.org/mailman/listinfo/forge-dev
    %img{:src=>"assets/images/JBoss_Forge_logo.png", :width=>"300px"}
